@media screen and (min-width: 850px) {

    body {
    }

    header {
      overflow:hidden;
      width: 960px;
      margin: 0 auto;

      hgroup {
        width: 30%;
      }
      h1, h2 {
        float: left;
        // max-width: 30%;
        padding-left: 35px;
      }

      h2 {

        clear: left;
      }



      nav.nonJSnav {
        // clear: none;
        // display: block;
        width: 960px;
        // margin: 0 auto;
        // position: relative;
        // float: right;
         ul {
           padding-top: 4%;
           margin-left: 8%;
           float: right;
           width: 70%;
           position: relative;


           li {
             display: inline;
             margin: 0;
             padding: 5px;
             background-image: none;

             a {
              color: #FFF6E9;
              font-weight: 300;
              margin-right: 30px;
             }

             a:hover, a:focus, a:active {
               color: $pink;
             }

             img {
               width: 5%;
             }
              ul {
                clear: both;
                // max-width: 200px;
                margin-left: 10px; 
                display: none;
                // position: absolute;
                // margin-left: 150px;
              }


           }
         }
       }





      nav.responsive-menu {
        clear: none;
        display: block;
        width: 70%;
        margin: 0 auto;
          position: relative;

        // float: right;
         ul {
           padding-top: 4%;
           margin-left: 8%;
           float: right;
           width: 70%;

           z-index: 1;

           li {
             display: inline;
             margin: 0;
             padding: 5px;
             background-image: none;

             a {
              color: #FFF6E9;
              font-weight: 300;
              // margin-right: 30px;
              // display: inline-block;
             }

             a:hover, a:focus, a:active {
               color: $pink;
             }

             img {
               width: 5%;
             }
              ul {
                    clear: both;
                // max-width: 300px;
                display: none;
                // position: absolute;
                // left: 0;

                // z-index: 9999999999999;
                // bottom: 100;
                //
                margin-left: 10px;
                // top: 3%;

              }


           }
         }
        //  ul:after {
        //    content: ""; clear: both; display: block;
        //  }
       }
       nav.responsive-menu ul li:hover ul {
          // position: absolute;
          // top: 3%;
           display: block;
           z-index: 99999999999;

       }

       nav.responsive-menu li ul li {
         clear: both;
         display: block;

          // float: none;
          background-image: url(../img/darkTextureBg.jpg);
          background-repeat: repeat-x;
          color: #FFF6E9;
       }



     }


     .boxshadow main {
       -webkit-box-shadow: 0px -1px 15px 0px rgba(50, 50, 50, 0.44);
       -moz-box-shadow:    0px -1px 15px 0px rgba(50, 50, 50, 0.44);
       box-shadow:         0px -1px 15px 0px rgba(50, 50, 50, 0.44);
     }

     .no-boxshadow main {
       border-left: #ededed 1px solid;
     }

    main {
      max-width: 960px;
      margin: 0 auto;
      padding-bottom: 5.20833333%;
      section {
        margin-top: -2.08333333%;
        figure {

          img {
            max-width: 75%;
            padding-left: 11.8333333%;
            opacity: 0.18;
            filter: alpha(opacity=18);
          }
          figcaption {
            top: 200px;

            h1 {
            }

            p {
              font-weight: 400;
            }

            a {
            }
          }
        }
      }



      article {
        border-top: 1px #e5e5e5 solid;
        overflow:hidden;
        clear: both;
        text-align: left;
        padding-top: 0;





        // margin: 10px auto;
        // padding: 0 20px;
        // padding-bottom: 10px;
        // position: relative;
        // max-width: 960px;

        h1, h2, p{
          float: left;
          clear: right;
          width: 55%;
          display: block;
        }

        h1 {
          padding-top: 3.64583333%;;
          margin: 0;
        }

        h1, h2 {
          padding-left: 3.125%;
        }

        p {
          padding-left: 3.125%;
        }

        a {
          clear: both;
          margin: 0 31.25% 4.16666667% 31.25%;
        }

        img {
          width: 35%;
          padding-top: 3.64583333%;
        }

      }



      article:first-of-type {
        margin-top: 0;
      }
    }

    footer {
      clear: both;
      max-width: 960px;
      margin: 0 auto;
    }

    // .main-container {
    //   background: #00bcd4;
    //   position: relative;
    // }
    //
    // .main-container:before {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: -36px;
    //   width: 100%;
    //   height: 60px;
    //   background: #00bcd4;
    //   -webkit-transform: skewY(2.5deg);
    //   -moz-transform: skewY(2.5deg);
    //   -ms-transform: skewY(2.5deg);
    //   -o-transform: skewY(2.1deg);
    //   transform: skewY(2.1deg);
    //   -webkit-backface-visibility: hidden;
    // }




      main#about {
        max-width: 960px;
        margin: 0 auto;
        section {
            margin-top: -5.08333333%;
            h2 {
              padding-top: 6.666666667%;
            }
            // p {
            //   // font-size: 1.6em;
            //   // padding: 15px 30px 45px 30px;
            // }
            a {
              width: 30%;
              text-align: center;
              margin: 0 auto;
              padding: 20px;
            }
            // a:hover {
            // }
        }

      article {
          padding: 0;
        max-width: 960px;
          padding-top: 3%;
          clear: both;

          img {
            width: 3.8888888888%;
            display: inline-block;
            float: left;
            max-width: 10%;
            padding-left:20px;
          }

          h3 {
            display: inline-block;
            text-align: left;
            float:left;
            padding: 4.1111111% 0 0 1.1111111%;
            max-width: 30%;
          }
            ul {
              max-width: 60%;
              float: right;
              li {
                h4 {
                }
                h5 {

                }
                ul {

                }
              }
            }
          }

     article:nth-of-type(1) {
      // background-color: #f2f2f2;
      background-color: white;
        border-top: 1px #e5e5e5 solid;
        margin-top: 80px;

      }
      article:nth-of-type(2) {
        background-color: white;

          ul {
            display:block;

            padding-left: 0;



          float: left;
          margin-left: 0;
          padding-left: 5%;



            ul {
              margin-left: -20px;
              padding: 0;
            }

          }
          ul:first-of-type {
            margin-left:  15%;
        }

        }

    footer {
      padding-top: 3.333333333%;
      clear: left;
    }
}

main#caseStudy {

  section {
    padding: 80px 20px;
    img {
        padding-left: 0%;
      float: left;
      width: 40%;
      -webkit-box-shadow: none;
      -moz-box-shadow:    none;
      box-shadow:         none;
    }
    h1 {
      float: right;
      width: 60%;

    }
    h2 {
      float: right;
      width: 60%

    }
    a {
      float: right;

      padding: 2% 5%;
      margin-right: 18%;
      margin-top: 9%;
      text-align: center;
    }
  }

  article {
    clear: both;
    h3 {
      float: left;
      width: 60%
    }
    p {
      float: left;
      width: 60%;
    }
    aside {
      padding: 0;
      margin-top: -100px;
      float: right;
      width: 30%;
    }
  }
  div {
    width: 100%;
    height: 500px;
    overflow: hidden;
    figure img {
      width: 100%;
    }
  }

}


.expand {
  display: none !important;
}
#img-grp-wrap {

  // clear: both;
  //   position: relative;
  //   width: 100%;
  //   height: 100%;
  //   margin: 0 auto;
  //   padding: 0;
}

.img-wrap {
    // position: relative;
    // border: 1px solid #CCC;
    // width: 100%;
    // height: 100%;
}

.img-wrap img {
    // width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    // -moz-box-shadow: 1px 1px 4px #CCC;
    // // padding: 10px;
}

.next, .prev {
    position: absolute;
    cursor: pointer;
    top: 280px;
}

.next {
    right:25px;

}
img.next, img.prev {
  width: 5%;
}

.prev {
    left: 25px;

}


}
