@media screen and (max-width: 992px) {
  body {
    background-color: #7cae89;
    margin: 0 auto;
    padding: 15%;
    h1 {
      text-align: center;
      font-family: "Arial", sans-serif;
      font-size: 300%;
      color: #87c3c3;
    }
  }
}
